[Unit]
Description=Periodic trigger for kiosk-refresh.service

[Timer]
OnBootSec=30s
OnUnitActiveSec=20s
Persistent=true

[Install]
WantedBy=timers.target
